/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .footer {
    background: #1C1C1C;
    padding: 5.25rem 0 1.25rem;
    font-size: min(4vw, 1.2em);
  }
  .footer .lefSection {
    margin: auto;
    margin-bottom: 3.125rem;
    text-align: center;
  }
  .footer .leftSection .logo {
    display: inline-block;
    margin: auto;
    width: auto;
    height: 3.125em;
    margin-bottom: 1.875em;
    text-align: center;
  }
  .footer .leftSection .logo img {
    width: auto;
    height: 100%;
    display: block;
  }
  .footer .leftSection p {
    font-size: 0.875rem;
    line-height: 1.92857143;
    color: #fff;
    opacity: .9;
    text-align: center;
    width: 100%;
    width: 21.92857143rem;
    margin: auto;
  }
  .footer .rightSection {
    width: 96%;
    max-width: 25.4375rem;
    margin: auto;
  }
  .footer .rightSection .lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 96%;
    max-width: 19.1875rem;
    margin: auto;
  }
  .footer .rightSection .lists ul {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .footer .rightSection .lists ul:nth-of-type(3) {
    margin-top: 3.125rem;
  }
  .footer .rightSection .lists ul:nth-of-type(3) li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer .rightSection .lists ul:nth-of-type(3) li:last-of-type {
    margin-bottom: 0;
  }
  .footer .rightSection .lists ul li {
    list-style: none;
    margin-bottom: 0.75rem;
    color: #fff;
    font-size: 1.125rem;
    opacity: .9;
  }
  .footer .rightSection .lists ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 1.16666667em;
    transition: color .3s;
  }
  .footer .rightSection .lists ul li a:hover {
    color: var(--primary);
  }
  .footer .rightSection .lists ul h2 {
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.16666667em;
    margin-bottom: 2.3125rem;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
  }
  .footer .rightSection .lists ul h2:before {
    content: '';
    position: absolute;
    display: block;
    height: 0.125rem;
    width: 6.0625rem;
    background: var(--primary);
    opacity: 1;
    bottom: -1rem;
    left: 0;
  }
  .footer .credit {
    color: #fff;
    width: 96%;
    margin: auto;
    text-align: center;
    margin-top: 6.25rem;
    line-height: 2.25rem;
    font-size: 1rem;
  }
  .footer .credit a {
    color: var(--primary);
    text-decoration: none;
    font-size: 1rem;
  }
  .footer .credit a:hover {
    text-decoration: underline;
  }
  .footer .credit .copyright {
    display: block;
    font-size: 1rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  .footer {
    font-size: min(1.2vw, 1em);
  }
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 96%;
    max-width: 82.5rem;
    margin: auto;
    padding: 0;
  }
  .footer .leftSection {
    width: 25.5625rem;
    margin: 0;
    text-align: left;
  }
  .footer .leftSection .logo {
    text-align: left;
    margin-left: 0;
    height: 4.375rem;
  }
  .footer .leftSection p {
    text-align: left;
    margin-left: 0;
  }
  .footer .rightSection {
    margin: 0;
    width: 38.0625rem;
    max-width: none;
  }
  .footer .rightSection .lists {
    width: 96%;
    max-width: 48.0625rem;
    margin: 0;
    max-width: initial;
  }
  .footer .rightSection .lists ul:nth-of-type(3) {
    margin-top: 0;
  }
  .footer .rightSection .lists ul:nth-of-type(3) li:first-of-type {
    margin-bottom: 0;
  }
  .footer .rightSection .lists ul li a {
    position: relative;
  }
  .footer .rightSection .lists ul li a:before {
    content: '';
    position: absolute;
    display: block;
    height: 0.125rem;
    width: 0%;
    background: var(--primary);
    opacity: 1;
    bottom: -0.1875rem;
    left: 0;
    transition: width .3s;
  }
  .footer .rightSection .lists ul li a:hover:before {
    width: 100%;
  }
  .footer .credit .copyright {
    display: inline-block;
  }
}